.flex{
    display: flex;  
}
.wrap{
    flex-wrap: wrap;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-end{
    justify-content: end;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: end;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.pointer{
    cursor: pointer;
}
.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.history-line {
    width: 4rem;
    height: 1.5px;
    background-color: #b7b7b7;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}